<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- here goes css-->
        <link href="style.css" rel="stylesheet"/>
        <title>Loops and arrays</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    </head>
    <body>
        <div id="vue-app" >
          <h2>Looping trogh list</h2>
          <h2>Characters</h2>  
          <ul>
                <li v-for="character in characters"> 
                    {{character}}
                </li>
            </ul>
            <h2>Ninjas</h2>
            <ul>
                <li v-for="(ninja,index) in ninjas">{{index}}.{{ninja.name}} - {{ninja.age}}</li>
            </ul>

            <div v-for="(ninja,index) in ninjas" >
                <h3>{{index}}.{{ninja.name}}</h3>
                <p>{{ninja.age}}</p>
            </div>
            <h2>Looping trough objects</h2>
            <template v-for="ninja in ninjas">
                <div v-for="(val,key) in ninja">
                    <p>{{key}} - {{val}}</p>
                </div>
            </template>
        </div>

        <script src=app.js ></script>
    </body>
</html>