<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>VueJS Tutorial</title>
        <link href="styles.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    </head>
    <body>
        <div id="vue-app2" >
         <h1>Keyboard Events</h1>
         <label>Name:</label>
         <input type="text" v-on:keyup.enter ="logName"/>
         <label>Age:</label>
         <input type="text" v-on:keyup.alt.enter ="logAge"/>
         <br>
         <h1>Two way data binding</h1>
         <div id="canvas2" >

        <label>Name:</label>
        <span>{{name}}</span>
         <input type="text" v-model="name" />
         <label>Age:</label>
         <span>{{age}}</span>
         <input type="text" v-model="age"/>

         </div>


        </div>
        <script src="app2.js"></script>
    </body>
</html>